.wrap {
  height: calc(100vh - 60px);
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 26px;
  font-family: "Trispace";
  text-align: center;
}