.notfound {
  font-size: 36px;
  font-family: 'Trispace';
  text-align: center;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap {
  max-width: 800px;
  margin: auto;
  padding: 30px 20px;
}
.top {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  font-family: 'Trispace';
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: var(--color-bg-2);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}
.didname {
  font-size: 20px;
  margin-top: 10px;
}
.bio {
  color: var(--color-text-2);
  font-family: 'Facit';
}
.tabs {
  margin-top: 40px;
}
.nfts {
  padding: 0 16px 16px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}
.nftItem {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  max-height: 420px;
  aspect-ratio: 1;
}
.tokenExtra {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tokenTitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text-1);
}
.tokenAmount {
  color: var(--color-text-2);
}
.arrow {
  text-align: center;
}
.options {
  text-align: right;
}
.txDesc {
  margin-top: 10px;
}
.twitter {
  display: flex;
  align-items: center;
  font-family: 'Facit';
}
.verified {
  color: rgb(var(--green-6));
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
.follow {
  padding: 5px 0;
}