.wrap {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.img {
  width: 100%;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--color-spin-layer-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
.btn {
  display: none;
}