.nft3-wallet__list {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
}
.nft3-wallet__item {
  border-radius: 12px;
  background: var(--item-bg);
  padding: 12px 16px;
  border: 1px solid var(--item-boder-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    border-color: #1479fd;
  }
}
.nft3-wallet__icon {
  width: 30px;
  height: 30px;
}
